.overlay {
  position: relative;
  z-index: 2000;
  width: 400px;
  white-space: nowrap;
  max-height: 400px;
  display: flex;
  flex-direction: column;
  padding: 0;
  overflow: hidden; /* To contain the header and content */
}

.header {
  background-color: #f5f5f5;
  padding: 8px 12px;
  cursor: move;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  user-select: none;
}

.content {
  padding: 16px;
  overflow-y: auto;
}

.closeButton {
  min-width: auto;
  padding: 4px;
}

.sliderContainer {
  margin-top: 16px;
}

.featureCard {
  padding: 8px;
  border: 1px solid #eee;
  border-radius: 4px;
  margin-bottom: 8px;
}
